{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Use the following form to login:</h6>
        <p></p>
        <form action="." method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.as_p }}
                </div>
            </div>
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Login">
        </form>
    </div>
{% endblock %}
