{% extends 'base.html' %}
{% load static %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Notes in category "{{ category.name }}"</h6>
    {% if categories.posts.count > 10 %}
    <small class="d-block text-right mt-3">
      <a class="btn btn-success btn-sm" href="#">Add note</a>
    </small>
    {% endif %}
   {% if category.posts.count %}
   {% for post in category.posts.all %}
   <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="24" height="24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em"></text></svg>
      <p class="media-body pb-4 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">
              <a href="{% url 'notes:post' post.id %}">{{ post.title }}</a>
              <div class="text-right">
                  {% if post.is_secret %}<img alt="secret" src="{% static 'image/secret.jpg' %}">{% endif %}
                  <a class="btn btn-outline-primary btn-sm" href="{% url 'notes:post_edit' post.id %}">Edit</a>
                  <a class="btn btn-outline-danger btn-sm" href="{% url 'notes:post_delete' post.id %}">Delete</a>
              </div>
          </strong>
      </p>
    </div>
   {% endfor %}
   {% else %}
       <div class="media text-muted pt-3">
        <p class="media-body pb-4 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">No notes in category "{{ category.name }}"</strong>
        </p>
       </div>
   {% endif %}
    <small class="d-block text-right mt-3">
      <a class="btn btn-success" href="{% url 'notes:post_add' %}">Add note</a>
    </small>
  </div>
{% endblock %}