{% extends 'base.html' %}


{% block title %}Categories{% endblock %}

{% block content %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Your categories</h6>
    {% if categories.count > 10 %}
    <small class="d-block text-right mt-3">
      <a class="btn btn-success btn-sm" href="{% url 'notes:category_add' %}">Add category</a>
    </small>
    {% endif %}
   {% if not categories.count %}
        <div class="media text-muted pt-3">
            <p class="media-body pb-4 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">You have no categories. Please create one or more.</strong>
            </p>
        </div>
   {% else %}
   {% for category in categories %}
   <div class="media text-muted pt-3">
   <svg class="bd-placeholder-img mr-2 rounded" width="24" height="24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><rect width="100%" height="100%" fill="#e83e8c"></rect></svg>
      <p class="media-body pb-4 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark"><a href="{% url 'notes:category' category.id %}">{{ category.name }}</a></strong>
          <div class="text-right">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'notes:category_rename' category.id %}">Rename</a>
            <a class="btn btn-outline-danger btn-sm" href="{% url 'notes:category_delete' category.id %}">Delete</a>
          </div>
      </p>
    </div>
   {% endfor %}
   {% endif %}
    <small class="d-block text-right mt-3">
      {% if categories.count %}
        <a class="btn btn-success" href="{% url 'notes:post_add' %}">Add note</a>
      {% endif %}  &nbsp;&nbsp;
      <a class="btn btn-success" href="{% url 'notes:category_add' %}">Add category</a>
    </small>
  </div>
{% endblock %}