{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h4 class="border-bottom border-gray pb-2 mb-0">{{ post.title }}</h4>
      <p class="media-body pb-1 mb-0 small lh-125 border-bottom border-gray">Category: <a href="{% url 'notes:category' post.rubric.id %}">{{ post.rubric.name }}</a>,
          <i>last updated: {{ post.updated }}</i></p>
    {% if text and text != 'Error. Wrong password' %}
        <div class="media text-muted pt-3">
            <p class="media-body pb-4 mb-0 lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">{{ text }}</strong>
            </p>
        </div>
    {% else %}
        {% if text %}
            <div class="media text-muted pt-3">
            <p class="media-body pb-4 mb-0 lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">{{ text }}</strong>
            </p>
        </div>
        {% endif %}
    <div class="media text-muted pt-3">
      <p class="media-body pb-4 mb-0 lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Post is secret. Please enter password below to read text.</strong>
      </p>
    </div>
      <form action="." method="post">
          <div class="form-row">
            <div class="form-group col-md-6">
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                  </div>
            </div>
          </div>
          {% csrf_token %}
          <input class="btn btn-success" type="submit" value="Enter">
      </form>
      {% endif %}
    <small class="d-block text-right mt-3">
      <a class="btn btn-success btn-sm" href="{% url 'notes:post_edit' post.id %}">Edit</a>
      <a class="btn btn-danger btn-sm" href="{% url 'notes:post_delete' post.id %}">Delete</a>
    </small>
  </div>
{% endblock %}