[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "==2.8.5"
cryptography = "==2.9.2"
django = "==2.2.12"

[dev-packages]

[requires]
python_version = "3.8"
