<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">SecureNotes</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="{% url 'notes:index' %}">Categories</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign in</a>&nbsp;&nbsp;<a class="btn btn-outline-danger" href="#">Sign up</a>
</div>


<main class="container" role="main">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>