{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Create an account</h6>
        <p>Please, sign up using the following form:</p>
        <form action="." method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="password2">Repeat password</label>
                        <input type="password" class="form-control" id="password2" name="password2">
                    </div>
                {% csrf_token %}
                <p><input class="btn btn-success" type="submit" value="Create my account"></p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}