{% extends 'base.html' %}
{% block title %}Decode secret note note{% endblock %}

{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Type password to decode note "{{ post.title }}":</h6>
    {% if error %}
        <div class="media text-muted pt-3">
            <p class="media-body pb-4 mb-0 lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Error. Password wrong.</strong>
            </p>
        </div>
    {% endif %}
    <form action="{% url 'notes:decode' post.id %}" method="post">
        <div class="form-row">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
        </div>
        {% csrf_token %}
        <input class="btn btn-success" type="submit" value="Decode" name="decode">
    </form>
</div>
{% endblock %}